.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box-container{
    background-color: rgb(36, 67, 247);
    color: white;
    padding: 30px;
    border-radius: 4px;
    text-align: center;
}
.box-container h3{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.generateButton{
    background-color: white;
    border: none;
    padding: 19px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.otp{
    background-color: rgba(211, 197, 197, 0.712);
    height: 40px;
    color: black;
    font-size: 1.6em;
  letter-spacing: 1em;
  text-align: center;
  padding: 1em 0.2em;
}